name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.20.3

    - name: Build
      run: go build -v -o parlay

    - name: Unit tests
      run: go test -v ./...

    - name: Setup BATS
      uses: mig4/setup-bats@v1
      with:
        bats-version: 1.9.0

    - name: Acceptance tests
      run: bats -r .
